@use 'variablesMixins' as vMix;

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
    max-width: 1420px;
    width: 90%;
    margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  color: vMix.$thunder;
}


